.text-gray-300-g
    color Gray300
.text-gray-400-g
    color Gray400
.text-gray-500-g
    color Gray500
.text-gray-900-g
    color Gray900
.text-blue-500-g
    color Blue500
.text-blue-700-g
    color Blue700
.text-indigo-600-g
    color Indigo600

.text-white
    color #fff
.text-gray
    color Gray600
.text-red
    color Red600
.text-yellow
    color Yellow600
.text-green
    color Green600
.text-blue
    color Blue600
.text-indigo
    color Indigo600
.text-purple
    color Purple600
.text-pink
    color Pink600
.text-bewitched-tree
    color lightness(BewitchedTree, 30)
.text-mystical-green
    color lightness(MysticalGreen, 30)
.text-light-heart
    color lightness(LightHeart, 30)
.text-glass-gall
    color lightness(GlassGall, 30)
.text-silly-fizz
    color lightness(SillyFizz, 30)
.text-brain-sand
    color lightness(BrainSand, 30)
.text-mustard-addicted
    color lightness(MustardAddicted, 30)
.text-magic-powder
    color lightness(MagicPowder, 30)
.text-true-blush
    color lightness(TrueBlush, 30)
.text-merry-cranesbill
    color lightness(MerryCranesbill, 30)

.text-gray-view
    color lightness(Gray200, 30)
.text-red-view
    color lightness(Red200, 30)
.text-yellow-view
    color lightness(Yellow200, 30)
.text-green-view
    color lightness(Green200, 30)
.text-blue-view
    color lightness(Blue200, 30)
.text-indigo-view
    color lightness(Indigo200, 30)
.text-purple-view
    color lightness(Purple200, 30)
.text-pink-view
    color lightness(Pink200, 30)
.text-bewitched-tree-view
    color lightness(BewitchedTree, 0)
.text-mystical-green-view
    color lightness(MysticalGreen, 0)
.text-light-heart-view
    color lightness(LightHeart, 0)
.text-glass-gall-view
    color lightness(GlassGall, 0)
.text-silly-fizz-view
    color lightness(SillyFizz, 0)
.text-brain-sand-view
    color lightness(BrainSand, 0)
.text-mustard-addicted-view
    color lightness(MustardAddicted, 0)
.text-magic-powder-view
    color lightness(MagicPowder, 0)
.text-true-blush-view
    color lightness(TrueBlush, 0)
.text-merry-cranesbill-view
    color lightness(MerryCranesbill, 0)

.text-gray-fresh
    color lightness(Gray200, 50)
.text-red-fresh
    color lightness(Red200, 50)
.text-yellow-fresh
    color lightness(Yellow200, 50)
.text-green-fresh
    color lightness(Green200, 50)
.text-blue-fresh
    color lightness(Blue200, 50)
.text-indigo-fresh
    color lightness(Indigo200, 50)
.text-purple-fresh
    color lightness(Purple200, 50)
.text-pink-fresh
    color lightness(Pink200, 50)
.text-bewitched-tree-fresh
    color lightness(BewitchedTree, 50)
.text-mystical-green-fresh
    color lightness(MysticalGreen, 50)
.text-light-heart-fresh
    color lightness(LightHeart, 50)
.text-glass-gall-fresh
    color lightness(GlassGall, 50)
.text-silly-fizz-fresh
    color lightness(SillyFizz, 50)
.text-brain-sand-fresh
    color lightness(BrainSand, 50)
.text-mustard-addicted-fresh
    color lightness(MustardAddicted, 50)
.text-magic-powder-fresh
    color lightness(MagicPowder, 50)
.text-true-blush-fresh
    color lightness(TrueBlush, 50)
.text-merry-cranesbill-fresh
    color lightness(MerryCranesbill, 50)

.bg-gray-100-g
    background-color Gray100   

.bg-gray-200-hover
    &:hover
        background-color Gray200   

.bg-gray-300-hover
    &:hover
        background-color Gray300   

.bg-gray-400-g
    background-color Gray400

.bg-gray-400-o75
    background-color: rgba(156, 163, 175, 0.75)

.bg-blue-100-g
    background-color Blue100 

.bg-blue-200-hover
    &:hover
        background-color Blue200  

.bg-blue-600-g  
    background-color Blue600

.bg-blue-700-g-hover
    &:hover
        background-color Blue700

.bg-white
    background-color #fff
.bg-gray
    background-color Gray200
.bg-red
    background-color Red200
.bg-yellow
    background-color Yellow200
.bg-green
    background-color Green200
.bg-blue
    background-color Blue200
.bg-indigo
    background-color Indigo200
.bg-purple
    background-color Purple200
.bg-pink
    background-color Pink200
.bg-bewitched-tree
    background-color BewitchedTree
.bg-mystical-green
    background-color MysticalGreen
.bg-light-heart
    background-color LightHeart
.bg-glass-gall
    background-color GlassGall
.bg-silly-fizz
    background-color SillyFizz
.bg-brain-sand
    background-color BrainSand
.bg-mustard-addicted
    background-color MustardAddicted
.bg-magic-powder
    background-color MagicPowder
.bg-true-blush
    background-color TrueBlush
.bg-merry-cranesbill
    background-color MerryCranesbill

.bg-gray-hover
    @extend .bg-gray
    &:hover
        background-color lightness(Gray200, 80)
.bg-red-hover
    @extend .bg-red
    &:hover
        background-color lightness(Red200, 80)
.bg-yellow-hover
    @extend .bg-yellow
    &:hover
        background-color lightness(Yellow200, 70)
.bg-green-hover
    @extend .bg-green
    &:hover
        background-color lightness(Green200, 70)
.bg-blue-hover
    @extend .bg-blue
    &:hover
        background-color lightness(Blue200, 80)
.bg-indigo-hover
    @extend .bg-indigo
    &:hover
        background-color lightness(Indigo200, 80)
.bg-purple-hover
    @extend .bg-purple
    &:hover
        background-color lightness(Purple200, 80)
.bg-pink-hover
    @extend .bg-pink
    &:hover
        background-color lightness(Pink200, 80)
.bg-bewitched-tree-hover
    @extend .bg-bewitched-tree
    &:hover
        background-color lightness(BewitchedTree, 55)
.bg-mystical-green-hover
    @extend .bg-mystical-green
    &:hover
        background-color lightness(MysticalGreen, 55)
.bg-light-heart-hover
    @extend .bg-light-heart
    &:hover
        background-color lightness(LightHeart, 65)
.bg-glass-gall-hover
    @extend .bg-glass-gall
    &:hover
        background-color lightness(GlassGall, 70)
.bg-silly-fizz-hover
    @extend .bg-silly-fizz
    &:hover
        background-color lightness(SillyFizz, 70)
.bg-brain-sand-hover
    @extend .bg-brain-sand
    &:hover
        background-color lightness(BrainSand, 70)
.bg-mustard-addicted-hover
    @extend .bg-mustard-addicted
    &:hover
        background-color lightness(MustardAddicted, 60)
.bg-magic-powder-hover
    @extend .bg-magic-powder
    &:hover
        background-color lightness(MagicPowder, 65)
.bg-true-blush-hover
    @extend .bg-true-blush
    &:hover
        background-color lightness(TrueBlush, 70)
.bg-merry-cranesbill-hover
    @extend .bg-merry-cranesbill
    &:hover
        background-color lightness(MerryCranesbill, 59)

.bg-gray-hover-color
    background-color lightness(Gray200, 80)
.bg-red-hover-color
    background-color lightness(Red200, 80)
.bg-yellow-hover-color
    background-color lightness(Yellow200, 70)
.bg-green-hover-color
    background-color lightness(Green200, 70)
.bg-blue-hover-color
    background-color lightness(Blue200, 80)
.bg-indigo-hover-color
    background-color lightness(Indigo200, 80)
.bg-purple-hover-color
    background-color lightness(Purple200, 80)
.bg-pink-hover-color
    background-color lightness(Pink200, 80)
.bg-bewitched-tree-hover-color
    background-color lightness(BewitchedTree, 55)
.bg-mystical-green-hover-color
    background-color lightness(MysticalGreen, 55)
.bg-light-heart-hover-color
    background-color lightness(LightHeart, 65)
.bg-glass-gall-hover-color
    background-color lightness(GlassGall, 70)
.bg-silly-fizz-hover-color
    background-color lightness(SillyFizz, 70)
.bg-brain-sand-hover-color
    background-color lightness(BrainSand, 70)
.bg-mustard-addicted-hover-color
    background-color lightness(MustardAddicted, 60)
.bg-magic-powder-hover-color
    background-color lightness(MagicPowder, 65)
.bg-true-blush-hover-color
    background-color lightness(TrueBlush, 70)
.bg-merry-cranesbill-hover-color
    background-color lightness(MerryCranesbill, 59)

.bg-gray-50-g
    background-color Gray50
.bg-red-50-g
    background-color Red50
.bg-yellow-50-g
    background-color Yellow50
.bg-green-50-g
    background-color Green50
.bg-blue-50-g
    background-color Blue50
.bg-indigo-50-g
    background-color Indigo50
.bg-purple-50-g
    background-color Purple50
.bg-pink-50-g
    background-color Pink50
.bg-bewitched-tree-50-g
    background-color lightness(BewitchedTree, 95)
.bg-mystical-green-50-g
    background-color lightness(MysticalGreen, 95)
.bg-light-heart-50-g
    background-color lightness(LightHeart, 95)
.bg-glass-gall-50-g
    background-color lightness(GlassGall, 95)
.bg-silly-fizz-50-g
    background-color lightness(SillyFizz, 95)
.bg-brain-sand-50-g
    background-color lightness(BrainSand, 95)
.bg-mustard-addicted-50-g
    background-color lightness(MustardAddicted, 95)
.bg-magic-powder-50-g
    background-color lightness(MagicPowder, 95)
.bg-true-blush-50-g
    background-color lightness(TrueBlush, 95)
.bg-merry-cranesbill-50-g
    background-color lightness(MerryCranesbill, 95)


.bg-gray-100-g-hover
    &:hover
        background-color Gray100
.bg-red-100-g-hover
    &:hover
        background-color Red100
.bg-yellow-100-g-hover
    &:hover
        background-color Yellow100
.bg-green-100-g-hover
    &:hover
        background-color Green100
.bg-blue-100-g-hover
    &:hover
        background-color Blue100
.bg-indigo-100-g-hover
    &:hover
        background-color Indigo100
.bg-purple-100-g-hover
    &:hover
        background-color Purple100
.bg-pink-100-g-hover
    &:hover
        background-color Pink100
.bg-bewitched-tree-100-g-hover
    &:hover
        background-color lightness(BewitchedTree, 90)
.bg-mystical-green-100-g-hover
    &:hover
        background-color lightness(MysticalGreen, 90)
.bg-light-heart-100-g-hover
    &:hover
        background-color lightness(LightHeart, 90)
.bg-glass-gall-100-g-hover
    &:hover
        background-color lightness(GlassGall, 90)
.bg-silly-fizz-100-g-hover
    &:hover
        background-color lightness(SillyFizz, 90)
.bg-brain-sand-100-g-hover
    &:hover
        background-color lightness(BrainSand, 90)
.bg-mustard-addicted-100-g-hover
    &:hover
        background-color lightness(MustardAddicted, 90)
.bg-magic-powder-100-g-hover
    &:hover
        background-color lightness(MagicPowder, 90)
.bg-true-blush-100-g-hover
    &:hover
        background-color lightness(TrueBlush, 90)
.bg-merry-cranesbill-100-g-hover
    &:hover
        background-color lightness(MerryCranesbill, 90)

.bg-gray-500-g
    background-color Gray500
.bg-red-500-g
    background-color Red500
.bg-yellow-500-g
    background-color Yellow500
.bg-green-500-g
    background-color Green500
.bg-blue-500-g
    background-color Blue500
.bg-indigo-500-g
    background-color Indigo500
.bg-purple-500-g
    background-color Purple500
.bg-pink-500-g
    background-color Pink500
.bg-bewitched-tree-500-g
    background-color lightness(BewitchedTree, 60)
.bg-mystical-green-500-g
    background-color lightness(MysticalGreen, 60)
.bg-light-heart-500-g
    background-color lightness(LightHeart, 60)
.bg-glass-gall-500-g
    background-color lightness(GlassGall, 60)
.bg-silly-fizz-500-g
    background-color lightness(SillyFizz, 60)
.bg-brain-sand-500-g
    background-color lightness(BrainSand, 60)
.bg-mustard-addicted-500-g
    background-color lightness(MustardAddicted, 60)
.bg-magic-powder-500-g
    background-color lightness(MagicPowder, 60)
.bg-true-blush-500-g
    background-color lightness(TrueBlush, 60)
.bg-merry-cranesbill-500-g
    background-color lightness(MerryCranesbill, 60)

.border-transparent
    border-color: transparent

.border-gray-300-g
    border-color Gray300

.border-gray-600-g-hover
    &:hover
        border-color Gray600

.border-gray
    border-color lightness(Gray200, 50)
.border-red
    border-color lightness(Red200, 50)
.border-yellow
    border-color lightness(Yellow200, 50)
.border-green
    border-color lightness(Green200, 50)
.border-blue
    border-color lightness(Blue200, 50)
.border-indigo
    border-color lightness(Indigo200, 50)
.border-purple
    border-color lightness(Purple200, 65)
.border-pink
    border-color lightness(Pink200, 50)
.border-bewitched-tree
    border-color lightness(BewitchedTree, 50)
.border-mystical-green
    border-color lightness(MysticalGreen, 50)
.border-light-heart
    border-color lightness(LightHeart, 50)
.border-glass-gall
    border-color lightness(GlassGall, 50)
.border-silly-fizz
    border-color lightness(SillyFizz, 50)
.border-brain-sand
    border-color lightness(BrainSand, 50)
.border-mustard-addicted
    border-color lightness(MustardAddicted, 50)
.border-magic-powder
    border-color lightness(MagicPowder, 50)
.border-true-blush
    border-color lightness(TrueBlush, 50)
.border-merry-cranesbill
    border-color lightness(MerryCranesbill, 50)
