.text-gray
    color lightness(Gray200, 30)
.text-red
    color lightness(Red200, 30)
.text-yellow
    color lightness(Yellow200, 30)
.text-green
    color lightness(Green200, 30)
.text-blue
    color lightness(Blue200, 30)
.text-indigo
    color lightness(Indigo200, 30)
.text-purple
    color lightness(Purple200, 30)
.text-pink
    color lightness(Pink200, 30)

.bg-white
    background-color #fff
.bg-gray
    background-color Gray200
.bg-red
    background-color Red200
.bg-yellow
    background-color Yellow200
.bg-green
    background-color Green200
.bg-blue
    background-color Blue200
.bg-indigo
    background-color Indigo200
.bg-purple
    background-color Purple200
.bg-pink
    background-color Pink200
.bg-bewitched-tree
    background-color BewitchedTree
.bg-mystical-green
    background-color MysticalGreen
.bg-light-heart
    background-color LightHeart
.bg-glass-gall
    background-color GlassGall

.bg-gray-hover
    @extend .bg-gray
    &:hover
        background-color lightness(Gray200, 80)
.bg-red-hover
    @extend .bg-red
    &:hover
        background-color lightness(Red200, 80)
.bg-yellow-hover
    @extend .bg-yellow
    &:hover
        background-color lightness(Yellow200, 70)
.bg-green-hover
    @extend .bg-green
    &:hover
        background-color lightness(Green200, 70)
.bg-blue-hover
    @extend .bg-blue
    &:hover
        background-color lightness(Blue200, 80)
.bg-indigo-hover
    @extend .bg-indigo
    &:hover
        background-color lightness(Indigo200, 80)
.bg-purple-hover
    @extend .bg-purple
    &:hover
        background-color lightness(Purple200, 80)
.bg-pink-hover
    @extend .bg-pink
    &:hover
        background-color lightness(Pink200, 80)
.bg-bewitched-tree-hover
    @extend .bg-bewitched-tree
    &:hover
        background-color lightness(BewitchedTree, 80)
.bg-mystical-green-hover
    @extend .bg-mystical-green
    &:hover
        background-color lightness(MysticalGreen, 60)
.bg-light-heart-hover
    @extend .bg-light-heart
    &:hover
        background-color lightness(LightHeart, 70)
.bg-glass-gall-hover
    @extend .bg-glass-gall
    &:hover
        background-color lightness(GlassGall, 65)

.border-gray
    border-color lightness(Gray200, 50)
.border-red
    border-color lightness(Red200, 50)
.border-yellow
    border-color lightness(Yellow200, 50)
.border-green
    border-color lightness(Green200, 50)
.border-blue
    border-color lightness(Blue200, 50)
.border-indigo
    border-color lightness(Indigo200, 50)
.border-purple
    border-color lightness(Purple200, 50)
.border-pink
    border-color lightness(Pink200, 50)
.border-bewitched-tree
    border-color lightness(BewitchedTree, 50)
.border-mystical-green
    border-color lightness(MysticalGreen, 50)
.border-light-heart
    border-color lightness(LightHeart, 50)
.border-glass-gall
    border-color lightness(GlassGall, 50)
