* {
    font-size 15px
    margin 0
    padding 0
    // position relative
    // box-sizing border-box
}

body, td, input, select, textarea, p {
    font-family 'Microsoft JhengHei','Helvetica Neue','Helvetica','Arial', dashicons, sans-serif !important;
}

body {
    color #3a3a3a
    box-sizing border-box
}

ul {
    margin 0
    padding 0
    list-style none
}

a {
    text-decoration none
    color #3a3a3a
}

.opacity-70
    opacity 0.7

.overflow-hidden
    overflow hidden

.overflow-visible
    overflow visible

.inline-block
    display inline-block

.relative
    position relative

.absolute
    position absolute

.fixed
    position fixed

.cursor-pointer
    cursor pointer

.select-none
    user-select none

.left-0
    left 0

.right-0
    right 0

.top-0
    top 0

.bottom-0
    bottom 0

.inset-0
    top 0
    right 0
    bottom 0
    left 0

.z-0
    z-index 0

.text-center
    text-align center

.text-right
    text-align right

.text-2xl
    font-size 24px
    line-height 32px

.font-semibold
    font-weight 600

.whitespace-nowrap
    white-space nowrap

.truncate
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.z-10
    z-index 10

.shadow-g
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)

.shadow-lg-black
    box-shadow 0 10px 15px -3px rgba(0, 0, 0, 0.1)

.ring-0
    box-shadow: 0 0 0 0 #FFF;

.ring-1-op10-black
    box-shadow 0 0 0 1px rgba(0, 0, 0, 0.1)

.ring-2-focus
    &:focus
        box-shadow 0 0 0 2px #FFF, 0 0 0 4px Blue500

.outline-none-focus
    &:focus
        outline 2px solid transparent
        outline-offset 2px

.transform-g
    transform translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1)

.translate-x-0
    transform translateX(0)

.translate-x-5
    transform translateX(1.25rem)

.pointer-events-none
    pointer-events none