* {
    font-size 15px
    margin 0
    padding 0
    // position relative
    // box-sizing border-box
}

body, td, input, select, textarea, p {
    font-family 'Microsoft JhengHei','Helvetica Neue','Helvetica','Arial', dashicons, sans-serif !important;
}

body {
    color #3a3a3a
    box-sizing border-box
}

ul {
    margin 0
    padding 0
    list-style none
}

a {
    text-decoration none
    color #3a3a3a
}

.w-full
    width 100%

.h-full
    height 100%

.opacity-70
    opacity 0.7

.overflow-hidden
    overflow hidden

.overflow-visible
    overflow visible

.relative
    position relative

.absolute
    position absolute

.flex
    display flex

.flex-1
    flex 1 1 0%

.flex-row
    flex-direction row

.flex-col
    flex-direction column

.justify-center
    justify-content center

.items-center
    align-items center

.items-end
    align-items flex-end

.flex-grow-0
    flex-grow 0
.flex-shrink-0
    flex-shrink 0

.flex-nowrap
    flex-wrap nowrap

.cursor-pointer
    cursor pointer

.select-none
    user-select none

.left-0
    left 0

.right-0
    right 0

.top-0
    top 0

.bottom-0
    bottom 0

.inset-0
    top 0
    right 0
    bottom 0
    left 0

.border-t
    border-top-width 1px

.border-solid
    border-style solid

.border-dashed
    border-style dashed

.p-1
    padding 0.25rem

.z-0
    z-index 0

.text-center
    text-align center

.text-right
    text-align right

.whitespace-nowrap
    white-space nowrap

.truncate
    overflow hidden
    text-overflow ellipsis
    white-space nowrap



