.transition-g
    transition-property background-color, border-color, color, fill, stroke, opacity, box-shadow, transform
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration 150ms

.transition-colors-g
    transition-property background-color, border-color, color, fill, stroke
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration 150ms

.transition-opacity-g
    transition-property opacity
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration 150ms

.transition-all
    transition-property all
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration 150ms

.duration-75-g
    transition-duration 75ms

.duration-200-g
    transition-duration 200ms

.duration-300-g
    transition-duration 300ms

.ease-out-g
    transition-timing-function cubic-bezier(0, 0, 0.2, 1)

.ease-in-out-g
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)