.datetimepicker-box
    >.datetime-container
        flex 1 1 0
        outline none
        >.datetimeinput
            border none
            border-bottom 1px solid Gray300
            outline none
            &:focus-within
                box-shadow 0 0 0 0
            &:hover
                border-bottom 1px solid Gray600

